<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral" requirePermission="true" />
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="SysConfigSource">
    <sources>
      <add name="SysConfigSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral" />
      <add name="LoggingBlockSettings" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral"
        filePath="LogSettings.config" />
      <add name="ExceptionHandlingBlockSettings" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral"
        filePath="ExceptionSettings.config" />
      <add name="DatabaseBlockSettings" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral"
        filePath="E:\Kuro\Documents\GitHub\EnterpriseLibrary\SourceCode\ConfigurationBlock\ConfigurationBlock.Basic\DbSettings.config" />
    </sources>
    <redirectSections>
      <add sourceName="LoggingBlockSettings" name="LoggingSettings" />
      <add sourceName="ExceptionHandlingBlockSettings" name="ExceptionHandlingSettings" />
      <add sourceName="DatabaseBlockSettings" name="DatabaseSettings" />
    </redirectSections>
  </enterpriseLibrary.ConfigurationSource>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>